---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Empresas que confían en nosotros
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="https://imagedelivery.net/TAb6croGI5sVJV7zEJFx9Q/fdc71cd0-cf07-4067-e315-2ece82c82f00/public" width="100" height="60" alt="spotify" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="https://imagedelivery.net/TAb6croGI5sVJV7zEJFx9Q/1b3215a7-2f3b-4959-f80c-52e251fe5a00/public" width="100" height="60" alt="slack" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="https://imagedelivery.net/TAb6croGI5sVJV7zEJFx9Q/bdf56509-06c8-454c-6bdd-9b4019ae5000/public" width="100" height="60" alt="paypal" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="https://imagedelivery.net/TAb6croGI5sVJV7zEJFx9Q/a32f2050-9670-4124-36a5-634851409c00/public" width="100" height="60" alt="spotify" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="https://imagedelivery.net/TAb6croGI5sVJV7zEJFx9Q/650d0adc-664d-416b-30d8-76c5026fd300/public" width="100" height="60" alt="paypal" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="https://imagedelivery.net/TAb6croGI5sVJV7zEJFx9Q/ece24aa0-6b71-4d0a-7388-76c12bf27500/public" width="100" height="60" alt="spotify" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="https://imagedelivery.net/TAb6croGI5sVJV7zEJFx9Q/aaaea906-d60c-4528-ef18-65aa4c963900/public" width="100" height="60" alt="slack" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="https://imagedelivery.net/TAb6croGI5sVJV7zEJFx9Q/49c0d6b1-36c8-48ed-232c-7774853e0900/public" width="100" height="60" alt="paypal" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="https://imagedelivery.net/TAb6croGI5sVJV7zEJFx9Q/e1d137b9-7700-4f02-2bc8-2e98cf78f700/public" width="100" height="60" alt="spotify" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            
            
        </div>
    </Container>
</section>